body {
  font-family:'Source Sans Pro' !important;
}

.wrapper {
  overflow-x: hidden;
}

.mainpage .container-fluid {
  background: url('../main-page-pic.jpeg')  no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-size: 100% 100%;
}
.mainpage h1 {
  padding-top: 150px;
  font-weight: 700;
}
.mainpage ul {
  text-align:center;
  margin-bottom:400px;
}

.about-me {
  background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../about-me-pic.jpeg')
no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-size: 100% 100%;
}

.about-me img {
  display: block;
  margin-left:auto;
  margin-right:auto;
  padding:150px 0px 150px 0px !important;
}
.about-me h1 {
  padding-top:100px;
  text-align:center;
  color:#FFF;
  display:block;
  margin-left: auto;
  margin-right:auto;
  padding-bottom: 100;
}
.about-me p {
  font-size:24px;
  color:#FFF;
  font-weight:600;
  display:block;
  margin-left: auto;
  margin-right:auto;
}

.portfolio {
  background: url('../Port.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-size: 100% 100%;
}

.portfolio h1 {
  text-align:center;
  margin-top: 0;
}
.portfolio h3 {
  text-align:center;
}

.portfolio li {
  font-size:13px;
  padding-bottom: 70px;
}

.contact-info {
  background:linear-gradient( rgba(255, 255, 255, 0.55), rgba(255, 255, 255, 0.55) ), url('../contact.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-size: 100% 100%;
  margin-top:-30px;
}
.contact-info h1{
  margin-top:-30px;
  padding-top:100px;
  padding-left:50px;
}
.contact-info h3{
  padding-left:50px;
}
.contact-info ul{
  padding-top:200px;
  padding-bottom:300px;
}
.contact-info p{
  padding-left:75px;
}
